@font-face {
  font-family: ROBOTECH GP;
  src: url(assets/font/ROBOTECH\ GP.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ROBOTECH GP, sans-serif;
}

body {
  font-family: ROBOTECH GP;
  font-weight: bold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(assets/img/Shiny\ Overlay.svg);
  background-position: center;
  background-size: cover;
}

::selection {
  color: #fff;
  background-color: #000;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_image img {
  width: 200px;
}

.logo_image p {
  color: #202020;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 20px;
}

.result_images {
  display: flex;
  column-gap: 7rem;
}

.container.start .user_result {
  transform-origin: left;
  animation: userShake 0.5s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu_result {
  transform-origin: right;
  animation: cpuShake 0.5s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: rotate(180deg) rotateX(180deg);
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #202020;
  margin-top: 1.5rem;
}

.result_field {
  height: 260px;
}

.option_image img {
  height: 80px;
}

.option_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.container.start .option_images {
  pointer-events: none;
}

.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  padding: 15px;
}

.option_image:hover {
  opacity: 1;
}

.option_image.active {
  opacity: 1;
}

.option_image img {
  pointer-events: none;
}

.option_image p {
  color: #202020;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}
